connexion >= 2.0.2
swagger-ui-bundle >= 0.0.2
python_dateutil >= 2.6.0
setuptools >= 21.0.0
foundationdb >= 6.1.11
https://github.com/mistio/dateparser/archive/master.zip
ipdb >= 0.12.2
numpy >= 1.17.4
RestrictedPython >= 5.0
